.btn {
  z-index: 1;
  font-weight: 600;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 0.7em 2em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 3px;
}

.btn:hover {
  background-color: var(--color-hover);
}
